@model Fttx_Orm.Models.Process.Surec

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Süreç Sil</h2>

<h3>Bu süreci silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurecAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurecAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("<< Geri dön", "Index")
        </div>
    }
</div>
